*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Roboto';
  
}
.App{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: white;
}


/* Welcome */

.welcome__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25%;
  height: 30vh;
  width:60vw;
  background-color: #0078d7;
  border: azure 1px solid;
  border-radius: 10px;
  padding:20px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.welcome__title{
  color: white;
  font-weight: 600;
  font-size: 28px;
}

.welcome__form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 400px

}

.welcome__NameInput{
  text-align: center;
  height: 20px;
  background-color:#0078d7;
  border: none;
  border-bottom: azure solid 1px ;
  font-size: 16px;
  color: azure;

}
.welcome__RoomCreate{
  text-align: center;
  height: 20px;
  background-color:white;
  border: azure solid 1px;
  font-size: 16px;
  color: black;

}
.welcome__RoomJoin{
  text-align: center;
  height: 20px;
  background-color:white;
  border: azure solid 1px;
  font-size: 16px;
  color: black;

}
:focus{
  outline: none;
}

.welcome__formButton{
  border: none;
  height: 40px;
  width: 100px;
  align-self: center;
  border-radius: 5px;
  color: #0078d7;
  font-weight: 600;
  box-shadow: 4px 0px 20px 0px rgba(0,0,0,0.1);;
  
}


/* Chat */
.chat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: gray 1px solid;
  height: 100%;
  width: 100%;
  left: 0;
}
.chat__invite{
  padding: 10px;
  background-color: white;
  color: grey;
  text-align: center;
  width:100%
}
.chat__header{
  background-color: #0078d7;
  display: flex;
  align-items: center; 
  justify-content: center;
  color: white;
  font-weight:600;
  height:100px;

}
.chat__form{
  display: flex;
  bottom:0;
  width: 100%;
  padding: 0;
  margin: 0;
}
.chat__input{
  width:70%;
  height:50px;
}

.chat__button{
  max-height: 100%;
  width: 30%;
  background-color: #0078d7;
  color: aliceblue;
  
}


.chat__body{
  display:flex;
  flex-direction: column-reverse;
  justify-items: flex-end;
  max-width:100%;
  height: 100%;
  max-height:100%;
  overflow-y: auto;
  gap: 15px;
  margin: 10px;
}
.message{
  border: none;
  min-width: 30%;
  max-width: 60%;
  padding: 10px;
  border-radius: 5px;
  background-color: grey;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-self:flex-start;
}
.-server{
  align-self: center;
  align-items: center;
  background-color: white;
  color: gray;
}
.-user{
  align-self: flex-end;
  background-color: cornflowerblue;
  color: white;
}
.message__timestamp{
  align-self: flex-end;
}
.editor{
  display: flex;
  max-height: 100%;
  height:100%;
  width: 100%;
  font-size: 16px;
}

/* Participants */
.part{
  background-color: #303841;
  height:100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
}
.part__invite{
  margin-top: 15px;
  color: aliceblue;
}
.part__inviteHeader{
  font-size: 20px;
  font-weight: 600;
}
.part__inviteCode{
  margin-top: 10px;
  font-size: 12px;
}
.part__members{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
}
.part__user{
  display: flex;
  align-items: center;
  gap:10px;
  justify-content: flex-start;
  padding-left: 40px;
  font-weight: 400;
  font-size: 14px;
}
.circle{
  background-color: greenyellow;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.part__language{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  color: aliceblue;
}

.part__selectedTitle{
  font-size: 20px;
  font-weight: 600;
}
.part__selectedLang{
  text-transform: capitalize;
}
.part__languagePickerHeader{
  margin-bottom: 10px;
}
.langauge__selector{
  height: 24px;
  width: 60%;
  color: aliceblue;
  background-color: #303841;
}
.langIcon{
  margin-bottom: 20px;
}